<!DOCTYPE html>
<html>
  <head>
    <title>Caravan Cards</title>
    <link rel="import" href="../ste-icon.html">
    <link rel="import" href="../ste-caravan.html">
    <link rel="import" href="../ste-card.html">
    <style>

    @media print {
      @page {
        margin-top: 0.25in;
        margin-bottom: 0in;
        margin-left: 0.5in;
        margin-right: 0.5in;
      }
      html,body {
        width: 7.5in;
        font-size: 0;
        -webkit-print-color-adjust: exact;
      }
    }
    </style>
  </head>
  <body>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sculpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Weapon
        </div>
      </ste-caravan>
    </ste-card>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sculpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Armor
        </div>
      </ste-caravan>
    </ste-card>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sulpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Tool
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Weapon
        </div>
      </ste-caravan>
    </ste-card>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sculpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Armor
        </div>
      </ste-caravan>
    </ste-card>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Tool
        </div>
      </ste-caravan>
    </ste-card>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Weapon
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Armor
        </div>
      </ste-caravan>
    </ste-card>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sculpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Tool
        </div>
      </ste-caravan>
    </ste-card>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Weapon
        </div>
      </ste-caravan>
    </ste-card>

    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Armor
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Tool
        </div>
      </ste-caravan>
    </ste-card>
  </body>
</html>
