<!DOCTYPE html>
<html>
  <head>
    <title>Explore Cards</title>
    <link rel="import" href="../ste-explore.html">
    <link rel="import" href="../ste-location.html">
    <link rel="import" href="../ste-card.html">
    <style>

    @media print {
      @page {
        margin-top: 0.25in;
        margin-bottom: 0in;
        margin-left: 0.5in;
        margin-right: 0.5in;
      }
      html,body {
        width: 7.5in;
        font-size: 0;
        -webkit-print-color-adjust: exact;
      }
    }
    </style>
  </head>
  <body>
    <ste-card title="Forest River"
             card-number="100">
      <ste-location>
        <ste-icon water></ste-icon>
      </ste-location>
    </ste-card>

    <ste-card title="Elven Ruins"
             card-number="101">
      <ste-location>
        <ste-icon ruin></ste-icon>
      </ste-location>
    </ste-card>

    <ste-card title="Forest Lake"
             card-number="102">
      <ste-location>
        <ste-icon water></ste-icon>
      </ste-location>
    </ste-card>

    <ste-card title="Forest"
             card-number="103">
      <ste-explore wood-light></ste-explore>
    </ste-card>

    <ste-card title="Forest"
             card-number="104">
      <ste-explore wood-light></ste-explore>
    </ste-card>

    <ste-card title="Forest"
             card-number="105">
      <ste-explore wood-light threat="1"></ste-explore>
    </ste-card>

    <ste-card title="Dark Forest"
             card-number="106">
      <ste-explore wood-dark threat="1"></ste-explore>
    </ste-card>

    <ste-card title="Dark Forest"
             card-number="107">
      <ste-explore wood-dark threat="2"></ste-explore>
    </ste-card>

    <ste-card title="Gold"
             card-number="108">
      <ste-explore metal-gold threat="1"></ste-explore>
    </ste-card>

    <ste-card title="Light Stone Quarry"
             card-number="109">
      <ste-explore stone-light></ste-explore>
    </ste-card>

    <ste-card title="Mushroom"
             card-number="110">
      <ste-explore mushroom-brown threat="2"></ste-explore>
    </ste-card>

    <ste-card title="Red Mushroom"
             card-number="111">
      <ste-explore mushroom-red></ste-explore>
    </ste-card>
  </body>
</html>
