<link rel="import" href="../../jc-core/jc-polymer.html">
<link rel="import" href="../../jc-core/jc-blueprint.html">

<link rel="import" href="../mr-card.html">
<link rel="import" href="../mr-card-back.html">

<jc-blueprint id="mr-victim-dark-green" tags="card victim dark-green">
  <template>
    <mr-card dark-green gavel>
      <div class="title">Victim</div>
      <div class="name">"Long Liz" Stride</div>
      <div class="sub-title">Scene: Berner Street</div>
      <div class="value">1</div>
      <div class="rules">
        Draw two cards from the Case File. Take matching Scene card (if in play)
        and put it next to this card.
      </div>
      <div class="flavor">
        "Long Liz" Stride was the third victim.  She was found on Berner Street.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-scene-dark-green" tags="card scene dark-green">
  <template>
    <mr-card dark-green gavel>
      <div class="title">Scene</div>
      <div class="name">Berner Street</div>
      <div class="sub-title">Victim: "Long Liz" Stride</div>
      <div class="value">1</div>
      <div class="rules">
        Take any one card from Scotland Yard (except a Scene).  You may play
        this card or put it in your hand.  Take matching Victim.
      </div>
      <div class="flavor">
        This was the scene of the Ripper's third murder.  It appears he was
        interrupted during this killing of "Long Liz" Stride.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-victim-light-green" tags="card victim light-green">
  <template>
    <mr-card light-green gavel>
      <div class="title">Victim</div>
      <div class="name">Annie Chapman</div>
      <div class="sub-title">Scene: Hanbury Street</div>
      <div class="value">1</div>
      <div class="rules">
        Draw two cards from the Case File. Take matching Scene card (if in play)
        and put it next to this card.
      </div>
      <div class="flavor">
        "Dark Annie" Chapman was the second victim.  She was found on Hanbury
        Street.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-scene-light-green" tags="card scene light-green">
  <template>
    <mr-card light-green gavel>
      <div class="title">Scene</div>
      <div class="name">Hanbury Street</div>
      <div class="sub-title">Victim: Annie Chapman</div>
      <div class="value">1</div>
      <div class="rules">
        Take any one card from Scotland Yard (except a Scene).  You may play
        this card or put it in your hand.  Take matching Victim.
      </div>
      <div class="flavor">
        This was the scene of the Ripper's second murder.  The victim was
        "Dark Annie" Chapman.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-victim-blue" tags="card victim blue">
  <template>
    <mr-card blue gavel>
      <div class="title">Victim</div>
      <div class="name">Kate Eddowes</div>
      <div class="sub-title">Scene: Mitre Square</div>
      <div class="value">1</div>
      <div class="rules">
        Draw two cards from the Case File. Take matching Scene card (if in play)
        and put it next to this card.
      </div>
      <div class="flavor">
        Kate Eddowes was the fourth victim.  She was found at Mitre Square.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-scene-blue" tags="card scene blue">
  <template>
    <mr-card blue gavel>
      <div class="title">Scene</div>
      <div class="name">Mitre Square</div>
      <div class="sub-title">Victim: Kate Eddowes</div>
      <div class="value">1</div>
      <div class="rules">
        Take any one card from Scotland Yard (except a Scene).  You may play
        this card or put it in your hand.  Take matching Victim.
      </div>
      <div class="flavor">
        This is the scene for the Ripper's fourth murder.  The victim was Kate
        Eddowes.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-victim-dark-purple" tags="card victim dark-purple">
  <template>
    <mr-card dark-purple gavel>
      <div class="title">Victim</div>
      <div class="name">Mary Jane Kelly</div>
      <div class="sub-title">Scene: 13 Miller's Court</div>
      <div class="value">1</div>
      <div class="rules">
        Draw two cards from the Case File. Take matching Scene card (if in play)
        and put it next to this card.
      </div>
      <div class="flavor">
        Mary Jane Kelly was the Ripper's final and most brutal murder.  She was
        found at 13 Miller's Court, the only indoor scene.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-scene-dark-purple" tags="card scene dark-purple">
  <template>
    <mr-card dark-purple gavel>
      <div class="title">Scene</div>
      <div class="name">13 Miller's Court</div>
      <div class="sub-title">Victim: Mary Jane Kelly</div>
      <div class="value">1</div>
      <div class="rules">
        Take any one card from Scotland Yard (except a Scene).  You may play
        this card or put it in your hand.  Take matching Victim.
      </div>
      <div class="flavor">
        The only indoor scene was the Ripper's final and most brutal killing.
        The victim was Mary Jane Kelly.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-victim-light-purple" tags="card victim light-purple">
  <template>
    <mr-card light-purple gavel>
      <div class="title">Victim</div>
      <div class="name">Mary Nichols</div>
      <div class="sub-title">Scene: Buck's Row</div>
      <div class="value">1</div>
      <div class="rules">
        Draw two cards from the Case File. Take matching Scene card (if in play)
        and put it next to this card.
      </div>
      <div class="flavor">
        Mary Nichols was the first victim positively linked to Jack the Ripper.
        She was found on Buck's Row.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-scene-light-purple" tags="card scene light-purple">
  <template>
    <mr-card light-purple gavel>
      <div class="title">Scene</div>
      <div class="name">Buck's Row</div>
      <div class="sub-title">Victim: Mary Nichols</div>
      <div class="value">1</div>
      <div class="rules">
        Take any one card from Scotland Yard (except a Scene).  You may play
        this card or put it in your hand.  Take matching Victim.
      </div>
      <div class="flavor">
        The scene of the first brutal Ripper murder.  The victim was Mary
        Nichols.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-evidence-red" tags="card evidence red">
  <template>
    <mr-card red evidence>
      <div class="title">Evidence</div>
      <div class="name">Dr. Pedachenko</div>
      <div class="value">2</div>
      <div class="rules">
        Once there is a Victim card in play, you may meld three or more
        Evidence cards of the same color.
      </div>
      <div class="flavor">
        He was a trained barber surgeon and had joined the staff at Maternity
        Hospital.  He disappeared after the last murder.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-suspect-red" tags="card suspect red">
  <template>
    <mr-card red gavel>
      <div class="title">Suspect</div>
      <div class="name">Dr. Pedachenko</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">4</div>
      <div class="rules">
        Play only when there is an Evidence meld for Dr. Pedachenko in play.
      </div>
      <div class="flavor">
        A Russian doctor who was considered a lunatic, with distinct criminal
        tendencies.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-alibi-red" tags="card alibi red">
  <template>
    <mr-card red gavel>
      <div class="title">Alibi</div>
      <div class="name">Dr. Pedachenko</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">3</div>
      <div class="rules">
        Play only when there is an Evidence meld for Dr. Pedachenko in play.
      </div>
      <div class="flavor">
        The Russian Secret Police Gazette planted propaganda that linked
        Pedachenko to the killings to embarrass the Metropolitan Police.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-ripper-strikes" tags="card gray">
  <template>
    <mr-card gray gavel>
      <div class="title">Ripper Strikes</div>
      <div class="name">Ripper Strikes</div>
      <div class="value">0</div>
      <div class="rules">
        Put next 5 cards from the Case File into Scotland Yard, one by one.  If
        you get a Victim card, stop and play it immediately.
      </div>
      <div class="flavor">
        For three months in 1888, the East London district of Whitechapel was
        terrorized by Jack the Ripper.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-commissioner-resigns" tags="card gray">
  <template>
    <mr-card gray gavel>
      <div class="title">Commissioner Resigns</div>
      <div class="name">Commissioner Resigns</div>
      <div class="value">0</div>
      <div class="rules">
        All players immediately put any Victim cards in their hands in play.
        They do not draw cards from the Case File.
      </div>
      <div class="flavor">
        On November 8th, 1888 Sir Charles resigned over disputes on how the case
        should be handled.  This did not help the investigation.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-ripper-escapes" tags="card gray">
  <template>
    <mr-card gray noicon>
      <div class="title">Ripper Escapes</div>
      <div class="name">Ripper Escapes</div>
      <div class="value">35</div>
      <div class="rules">
        This card may only be played when all 5 victims are in play.  If left in
        hand, -2 for each victim in play.
      </div>
      <div class="flavor">
        "I give the authorities a good chance but there is never a policeman
        near when I am at work."<br>
        &mdash; From a letter sent by Jack the Ripper
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-evidence-light-blue" tags="card evidence light-blue">
  <template>
    <mr-card light-blue evidence>
      <div class="title">Evidence</div>
      <div class="name">Montague Druitt</div>
      <div class="value">2</div>
      <div class="rules">
        Once there is a Victim card in play, you may meld three or more
        Evidence cards of the same color.
      </div>
      <div class="flavor">
        Druitt's body was found floating in the Thames River seven weeks after
        the last murder at Miller's Court.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-suspect-light-blue" tags="card suspect light-blue">
  <template>
    <mr-card light-blue gavel>
      <div class="title">Suspect</div>
      <div class="name">Montague Druitt</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">4</div>
      <div class="rules">
        Play only when there is an Evidence meld for Montague Druitt in play.
      </div>
      <div class="flavor">
        Over the years this barrister and cricket player has been a popular
        choice for the Ripper.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-alibi-light-blue" tags="card alibi light-blue">
  <template>
    <mr-card light-blue gavel>
      <div class="title">Alibi</div>
      <div class="name">Montague Druitt</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">3</div>
      <div class="rules">
        Play only when there is an Evidence meld for Montague Druitt in play.
      </div>
      <div class="flavor">
        How could a man commit a brutal murder and a few short hours later be
        playing cricket?
      </div>
    </mr-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mr-evidence-pink" tags="card evidence pink">
  <template>
    <mr-card pink evidence>
      <div class="title">Evidence</div>
      <div class="name">Jill the Ripper</div>
      <div class="value">2</div>
      <div class="rules">
        Once there is a Victim card in play, you may meld three or more
        Evidence cards of the same color.
      </div>
      <div class="flavor">
        A midwife with blood on her uniform could have gone unnoticed in
        Whitechapel at the time of the murders.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-suspect-pink" tags="card suspect pink">
  <template>
    <mr-card pink gavel>
      <div class="title">Suspect</div>
      <div class="name">Jill the Ripper</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">4</div>
      <div class="rules">
        Play only when there is an Evidence meld for Jill the Ripper in play.
      </div>
      <div class="flavor">
        There was no suspect named "Jill."  She represents the theory that a
        woman could have committed the crimes.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-alibi-pink" tags="card alibi pink">
  <template>
    <mr-card pink gavel>
      <div class="title">Alibi</div>
      <div class="name">Jill the Ripper</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">3</div>
      <div class="rules">
        Play only when there is an Evidence meld for Jill the Ripper in play.
      </div>
      <div class="flavor">
        A woman would never commit such vicious crimes.
      </div>
    </mr-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mr-evidence-light-brown" tags="card evidence light-brown">
  <template>
    <mr-card light-brown evidence>
      <div class="title">Evidence</div>
      <div class="name">George Chapman</div>
      <div class="value">2</div>
      <div class="rules">
        Once there is a Victim card in play, you may meld three or more
        Evidence cards of the same color.
      </div>
      <div class="flavor">
        When Chapman was in America from 1890 to 1892, several Ripper-like
        murders took place in New Jersey, where he was staying.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-suspect-light-brown" tags="card suspect light-brown">
  <template>
    <mr-card light-brown gavel>
      <div class="title">Suspect</div>
      <div class="name">George Chapman</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">4</div>
      <div class="rules">
        Play only when there is an Evidence meld for George Chapman in play.
      </div>
      <div class="flavor">
        His real name was Severin Antoniovich Klosowoski, born December 14,
        1865 in Poland.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-alibi-light-brown" tags="card alibi light-brown">
  <template>
    <mr-card light-brown gavel>
      <div class="title">Alibi</div>
      <div class="name">George Chapman</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">3</div>
      <div class="rules">
        Play only when there is an Evidence meld for George Chapman in play.
      </div>
      <div class="flavor">
        He was hanged in 1903 for poisoning 3 women.  It's unlikely he would
        have been killing with a knife as well.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-evidence-yellow" tags="card evidence yellow">
  <template>
    <mr-card yellow evidence>
      <div class="title">Evidence</div>
      <div class="name">Prince Eddy</div>
      <div class="value">2</div>
      <div class="rules">
        Once there is a Victim card in play, you may meld three or more
        Evidence cards of the same color.
      </div>
      <div class="flavor">
        Eddy's father, King Edward VII instructed in his will that all of his
        private papers be destroyed.  Was Eddy's secret in those papers?
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-suspect-yellow" tags="card suspect yellow">
  <template>
    <mr-card yellow gavel>
      <div class="title">Suspect</div>
      <div class="name">Prince Eddy</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">4</div>
      <div class="rules">
        Play only when there is an Evidence meld for Prince Eddy in play.
      </div>
      <div class="flavor">
        His hidden life could have included revenge on prostitutes.
      </div>
    </mr-card>
  </template>
</jc-blueprint>



<jc-blueprint id="mr-evidence-orange" tags="card evidence orange">
  <template>
    <mr-card orange evidence>
      <div class="title">Evidence</div>
      <div class="name">Sir Gull</div>
      <div class="value">2</div>
      <div class="rules">
        Once there is a Victim card in play, you may meld three or more
        Evidence cards of the same color.
      </div>
      <div class="flavor">
        Sir Gull, the royal physician, could ahve committed the murders to
        protect Eddy from blackmail.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-suspect-orange" tags="card suspect orange">
  <template>
    <mr-card orange gavel>
      <div class="title">Suspect</div>
      <div class="name">Sir Gull</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">4</div>
      <div class="rules">
        Play only when there is an Evidence meld for Sir Gull in play.
      </div>
      <div class="flavor">
        Sir Gull, the royal physician, may have been protecting the crown.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-alibi-yellow-orange" tags="card alibi yellow-orange">
  <template>
    <mr-card yellow-orange gavel>
      <div class="title">Alibi</div>
      <div class="name">Prince Eddy or Sir Gull</div>
      <div class="sub-title">(Do not meld)</div>
      <div class="value">3</div>
      <div class="rules">
        Play only when there is an Evidence meld for Eddy or Gull in play.
        Choose Eddy or Gull and announce it.
      </div>
      <div class="flavor">
        The Prince and Gull had the Crown to protect them.  This was the Royal
        Coverup.
      </div>
    </mr-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mr-evidence-dark-brown" tags="card evidence dark-brown">
  <template>
    <mr-card dark-brown evidence>
      <div class="title">Evidence</div>
      <div class="name">Letters</div>
      <div class="value">3</div>
      <div class="rules">
        Once there is a Victim card in play, you may meld three or more
        Evidence cards of the same color.
      </div>
      <div class="flavor">
        Many feel the police did not take the letters seriously enough.
        Thirty-four of them were by the same hand.  Many had details of the
        crimes.
      </div>
    </mr-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mr-evidence-wild" tags="card evidence wild">
  <template>
    <mr-card wild evidence>
      <div class="title">Evidence</div>
      <div class="name">Wild Card</div>
      <div class="value">2</div>
      <div class="rules">
        This card can be used as any Evidence card except Letters.
      </div>
      <div class="flavor">
        Most of the evidence in this case is circumstantial.  We probably will
        never know for sure who Jack the Ripper was.
      </div>
    </mr-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mr-card-back" tags="card back">
  <template>
    <mr-card-back></mr-card-back>
  </template>
</jc-blueprint>
