<link rel="import" href="../../jc-core/jc-blueprint.html">
<link rel="import" href="../mk-card.html">
<link rel="import" href="../mk-icon.html">

<jc-blueprint id="mk-card-wheat-field" tags="card blue wheat">
  <template>
    <mk-card die-roll="1"
             cost="1"
             color="blue"
             icon="wheat">
      <div class="title">
        <mk-icon wheat></mk-icon> Wheat Field
      </div>
      <div>
        Get 1 coin from<br>the bank, on<br>anyone's turn.
      </div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-ranch" tags="card blue cow">
  <template>
    <mk-card  die-roll="2"
              cost="1"
              color="blue"
              icon="cow">
          <div class="title">
            <mk-icon cow></mk-icon> Ranch
          </div>
          <div>Get 1 coin from<br>the bank, on<br>anyone's turn.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-bakery" tags="card green store">
  <template>
    <mk-card  die-roll="2 ~ 3"
              cost="1"
              color="green"
              icon="store">
       <div class="title">
         <mk-icon store></mk-icon> Bakery
       </div>
          <div>Get 1 coin from<br>the bank, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-cafe" tags="card red coffee">
  <template>
    <mk-card die-roll="3"
              cost="2"
              color="red"
              icon="coffee">
       <div class="title">
         <mk-icon coffee></mk-icon> cafe
       </div>
          <div>Get 1 coin from<br>the player who<br>rolled the dice.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-convenience-store" tags="card green store">
  <template>
    <mk-card die-roll="4"
              cost="2"
              color="green"
              icon="store">
       <div class="title">
         <mk-icon store></mk-icon> Convenience Store
       </div>
          <div>Get 3 coins from<br>the bank, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-forest" tags="card blue gear">
  <template>
    <mk-card die-roll="5"
              cost="3"
              color="blue"
              icon="gear">
       <div class="title">
         <mk-icon gear></mk-icon> Forest
       </div>
          <div>Get 1 coin from<br>the bank, on<br>anyone's turn.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-business-center" tags="card purprle tower">
  <template>
    <mk-card die-roll="6"
              cost="8"
              color="purple"
              icon="tower">
       <div class="title">
         <mk-icon tower></mk-icon> Business Center
       </div>
          <div style="font-size: 90%;">Trade one non <mk-icon tower></mk-icon><br>establishment with<br>another player, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-stadium" tags="card purple tower">
  <template>
    <mk-card die-roll="6"
              cost="6"
              color="purple"
              icon="tower">
       <div class="title">
         <mk-icon tower></mk-icon> Stadium
       </div>
          <div>Get 2 coins from<br>all players, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-tv-station" tags="card purple tower">
  <template>
    <mk-card  die-roll="6"
              cost="7"
              color="purple"
              icon="tower">
       <div class="title">
         <mk-icon tower></mk-icon> TV Station
       </div>
          <div>Take 5 coins from any<br>one player, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-cheese-factory" tags="card green factory">
  <template>
    <mk-card  die-roll="7"
              cost="5"
              color="green"
              icon="factory">
       <div class="title">
         <mk-icon factory></mk-icon> Cheese Factory
       </div>
          <div style="font-size: 90%;">Get 3 coins from the bank<br>for each <mk-icon cow></mk-icon> establishment<br>that you own, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-furniture-factory" tags="card green factory">
  <template>
    <mk-card die-roll="8"
              cost="3"
              color="green"
              icon="factory">
       <div class="title">
         <mk-icon factory></mk-icon> Furniture Factory
       </div>
          <div style="font-size: 90%;">Get 3 coins from the bank<br>for each <mk-icon gear></mk-icon> establishment<br>that you own, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-mine" tags="card blue gear">
  <template>
    <mk-card  die-roll="9"
              cost="6"
              color="blue"
              icon="gear">
       <div class="title">
         <mk-icon gear></mk-icon> Mine
       </div>
          <div>Get 5 coins from<br>the bank, on<br>anyone's turn.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-family-restaurant" tags="card red coffee">
  <template>
    <mk-card  die-roll="9 ~ 10"
              cost="3"
              color="red"
              icon="coffee">
       <div class="title">
         <mk-icon coffee></mk-icon> Family Restaurant
       </div>
          <div>Get 2 coins from<br>the player who<br>rolled the dice.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-apple-orchard" tags="card blue wheat">
  <template>
    <mk-card  die-roll="10"
              cost="3"
              color="blue"
              icon="wheat">
       <div class="title">
         <mk-icon wheat></mk-icon> Apple Orchard
       </div>
          <div>Get 3 coins from<br>the bank, on<br>anyone's turn.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-fruit-and-vegetable-market" tags="card green fruit">
  <template>
    <mk-card  die-roll="11 ~ 12"
              cost="2"
              color="green"
              icon="fruit">
       <div class="title">
         <mk-icon fruit></mk-icon> Fruit and Vegetable Market
       </div>
          <div style="font-size: 90%;">Get 2 coins from the bank<br>for each <mk-icon wheat></mk-icon> establishment<br>that you own on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>
