<link rel="import" href="../../jc-core/jc-blueprint.html">
<link rel="import" href="../mk-card.html">
<link rel="import" href="../mk-icon.html">

<jc-blueprint id="mk-card-wheat-field" tags="card blue wheat">
  <template>
    <mk-card die-roll="1"
             cost="1"
             color="blue"
             icon="wheat">
      <div class="title">
        <mk-icon wheat></mk-icon> Wheat Field
      </div>
      <div>
        Get 1 coin from<br>the bank, on<br>anyone's turn.
      </div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-ranch" tags="card blue cow">
  <template>
    <mk-card  die-roll="2"
              cost="1"
              color="blue"
              icon="cow">
          <div class="title">
            <mk-icon cow></mk-icon> Ranch
          </div>
          <div>Get 1 coin from<br>the bank, on<br>anyone's turn.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-bakery" tags="card green store">
  <template>
    <mk-card title="Bakery"
              die-roll="2 ~ 3"
              cost="1"
              color="green"
              icon="store">
          <div>Get 1 coin from<br>the bank, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-cafe" tags="card red coffee">
  <template>
    <mk-card title="Cafe"
              die-roll="3"
              cost="2"
              color="red"
              icon="coffee">
          <div>Get 1 coin from<br>the player who<br>rolled the dice.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-connvenience-store" tags="card green store">
  <template>
    <mk-card title="Convenience Store"
              die-roll="4"
              cost="2"
              color="green"
              icon="store"
          <div>Get 3 coins from<br>the bank, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-forest" tags="card blue gear">
  <template>
    <mk-card title="Forest"
              die-roll="5"
              cost="3"
              color="blue"
              icon="gear"
          <div>Get 1 coin from<br>the bank, on<br>anyone's turn.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-business-center" tags="card purprle tower">
  <template>
    <mk-card title="Business Center"
              die-roll="6"
              cost="8"
              color="purple"
              icon="tower"
          <div>Trade one non tower<br>establishment with<br>another player, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-stadium" tags="card purple tower">
  <template>
    <mk-card title="Stadium"
              die-roll="6"
              cost="6"
              color="purple"
              icon="tower"
          <div>Get 2 coins from<br>all players, on<br>on your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-tv-station" tags="card purple tower">
  <template>
    <mk-card title="TV Station"
              die-roll="6"
              cost="7"
              color="purple"
              icon="tower"
          <div>Take 5 coins from any<br>one player, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-cheese-factory" tags="card green factory">
  <template>
    <mk-card title="Cheese Factory"
              die-roll="7"
              cost="5"
              color="green"
              icon="factory"
          <div>Get 3 coins from the bank<br>for each cow establishment<br>that you own, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-card-furniture-factory" tags="card green factory">
  <template>
    <mk-card title="Furniture Factory"
              die-roll="8"
              cost="3"
              color="green"
              icon="factory"
          <div>Get 3 coins from the bank<br>for each gear establishment<br>that you own, on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-mine" tags="card blue gear">
  <template>
    <mk-card title="Mine"
              die-roll="9"
              cost="6"
              color="blue"
              icon="gear"
          <div>Get 5 coins from<br>the bank, on<br>anyone's turn.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-family-restaurant" tags="card red coffee">
  <template>
    <mk-card title="Family Restaurant"
              die-roll="9 ~ 10"
              cost="3"
              color="red"
              icon="coffee"
          <div>Get 2 coins from<br>the player<br>who rolled the dice.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-apple-orchard" tags="card blue wheat">
  <template>
    <mk-card title="Apple Orchard"
              die-roll="10"
              cost="3"
              color="blue"
              icon="wheat"
          <div>Get 3 coins from<br>the bank, on<br>anyone's turn.</div>
    </mk-card>
  </template>
</jc-blueprint>


<jc-blueprint id="mk-card-fruit-and-vegetable-market" tags="card green fruit">
  <template>
    <mk-card title="Fruit and Vegetable Market"
              die-roll="11 ~ 12"
              cost="2"
              color="green"
              icon="fruit"
          <div>Get 2 coins from the bank<br>for each wheat extablishment<br>that you own on<br>your turn only.</div>
    </mk-card>
  </template>
</jc-blueprint>
