<link rel="import" href="../../jc-core/jc-blueprint.html">
<link rel="import" href="../mk-coin.html">

<jc-blueprint id="mk-coin-1" tags="coin">
  <template>
    <mk-coin value="1"></mk-coin>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-coin-5" tags="coin">
  <template>
    <mk-coin value="5"></mk-coin>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-coin-10" tags="coin">
  <template>
    <mk-coin value="10"></mk-coin>
  </template>
</jc-blueprint>

<jc-blueprint id="mk-coin-20" tags="coin">
  <template>
    <mk-coin value="20"></mk-coin>
  </template>
</jc-blueprint>
