<!DOCTYPE html>
<html>
  <head>
    <title>Machi Koro</title>
    <link rel="import" href="cards.html">
    <link rel="import" href="../../jc-core/jc-stamp.html">
</head>
<body>

    <jc-stamp blueprint="mk-card-wheat-field"></jc-stamp>
    <jc-stamp blueprint="mk-card-ranch"></jc-stamp>
    <jc-stamp blueprint="mk-card-bakery"></jc-stamp>
    <jc-stamp blueprint="mk-card-cafe"></jc-stamp>
    <jc-stamp blueprint="mk-card-convenience-store"></jc-stamp>
    <jc-stamp blueprint="mk-card-forest"></jc-stamp>
    <jc-stamp blueprint="mk-card-stadium"></jc-stamp>
    <jc-stamp blueprint="mk-card-tv-station"></jc-stamp>
    <jc-stamp blueprint="mk-card-business-center"></jc-stamp>
    <jc-stamp blueprint="mk-card-cheese-factory"></jc-stamp>
    <jc-stamp blueprint="mk-card-furniture-factory"></jc-stamp>
    <jc-stamp blueprint="mk-card-mine"></jc-stamp>
    <jc-stamp blueprint="mk-card-family-restaurant"></jc-stamp>
    <jc-stamp blueprint="mk-card-apple-orchard"></jc-stamp>
    <jc-stamp blueprint="mk-card-fruit-and-vegetable-market"></jc-stamp>

</body>
