<!DOCTYPE html>
<html>
  <head>
    <title>Mystery Rummy - Jack The Ripper</title>
    <link rel="import" href="mr-card.html">
    <style>
    </style>
  </head>
  <body>
    <mr-card dark-green gavel>
      <div class="title"> Victim</div>
      <div class="name">"Long Liz" Stride</div>
      <div class="sub-title">Scene: Berner Street</div>
      <div class="value">1</div>
      <div class="rules">
        Draw two cards from the Case File. Take matching Scene card (if in play)
        and put it next to this card.
      </div>
      <div class="flavor">
        "Long Liz" Stride was the third victim.  She was found on Berner Street.
      </div>
    </mr-card>
    <my-thing></my-thing>
  </body>
