<!DOCTYPE html>
<html>
  <head>
    <title>Mystery Rummy - Jack The Ripper</title>
    <link rel="import" href="../jc-core/jc-pawn.html">
    <link rel="import" href="blueprints/cards.html">

    <style>
      body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }

      #board {
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #45484d 0%, #000000 100%);
      }

      jc-pawn {
        opacity: 1.0;
        transition: opacity 0.3s;
      }

      .moving {
        opacity: 0.5;
      }
    </style>
  </head>
  <body>
    <div id="board">
    </div>
    <script>
      // Create a pawn of every blueprint in the library
      var library = JC.Library;
      var blueprints = library.getBlueprints();
      var board = document.getElementById('board');
      var boardWidth = board.clientWidth;
      var boardHeight = board.clientHeight;
      var x = 0;
      var y = 0;
      Object.keys(blueprints).forEach(function (key) {
        if (key !== 'mr-card-back') {
          var pawn = document.createElement('jc-pawn');
          pawn.blueprint = key;
          pawn.backBlueprint = 'mr-card-back';
          pawn.x = x++;
          pawn.y = y++;
          pawn.faceUp = false;
          board.appendChild(pawn);
        }
      });
    </script>
  </body>
</html>
