<!DOCTYPE html>
<html>
  <head>
    <title>Machi Koro</title>
    <link rel="import" href="../jc-core/jc-pawn.html">
    <link rel="import" href="../jc-core/jc-supply.html">
    <link rel="import" href="blueprints/cards.html">
    <link rel="import" href="mk-icon.html">
    <link rel="import" href="../jc-core/jc-stamp.html">

    <style>
      body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background: linear-gradient(135deg, #45484d 0%, #000000 100%);
      }

      jc-pawn {
        position: absolute;
        opacity: 1.0;
        transition: opacity 0.3s;
      }

      .moving {
        opacity: 0.5;
      }
    </style>
  </head>
  <body>
    <jc-supply pawn-blueprint="mk-card-wheat-field">
      <jc-stamp blueprint="mk-card-wheat-field"></jc-stamp>
    </jc-supply>
    <jc-supply pawn-blueprint="mk-card-ranch">
      <jc-stamp blueprint="mk-card-ranch"></jc-stamp>
    </jc-supply>
      <jc-supply pawn-blueprint="mk-card-forest">
        <jc-stamp blueprint="mk-card-forest"></jc-stamp>
      </jc-supply>
  </body>
</html>
