<link rel="import" href="../../jc-core/jc-blueprint.html">
<link rel="import" href="../ste-icon.html">
<link rel="import" href="../ste-caravan.html">
<link rel="import" href="../ste-card.html">

<jc-blueprint id="caravan-1" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sculpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Weapon
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="caravan-2" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sculpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Armor
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="caravan-3" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sulpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Tool
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Weapon
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="caravan-4" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sculpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Armor
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="caravan-5" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Tool
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="caravan-6" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Weapon
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Armor
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="caravan-7" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Sculpture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Tool
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="caravan-8" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Furniture
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Weapon
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="caravan-9" tags="card front caravan">
  <template>
    <ste-card landscape>
      <ste-caravan>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Jewelry
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          <ste-icon prestige></ste-icon>
          Armor
        </div>
        <div>
          <ste-icon prestige></ste-icon>
          Tool
        </div>
      </ste-caravan>
    </ste-card>
  </template>
</jc-blueprint>
