<link rel="import" href="../../jc-core/jc-blueprint.html">
<link rel="import" href="../ste-dwarf.html">
<link rel="import" href="../ste-card.html">

<jc-blueprint id="char-miner" tags="card front character">
  <template>
    <ste-card title="Miner" card-number="1">
      <ste-dwarf mine="2"
                attack="1"
                prestige-requirement="1">
        <span class="trait">Miner</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-explorer" tags="card front character">
  <template>
    <ste-card title="Explorer" card-number="2">
      <ste-dwarf explore="2"
                attack="1"
                prestige-requirement="1">
        <span class="trait">Explorer</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-crafter" tags="card front character">
  <template>
    <ste-card title="Crafter" card-number="3">
      <ste-dwarf build="2"
                genius="1"
                prestige-requirement="1">
        <span class="trait">Crafter</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-merchant" tags="card front character">
  <template>
    <ste-card title="Merchant" card-number="4">
      <ste-dwarf trade="2"
                prestige="1"
                prestige-requirement="1">
        <span class="trait">Merchant</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-hammerdwarf" tags="card front character">
  <template>
    <ste-card title="Hammerdwarf" card-number="5">
      <ste-dwarf attack="2"
                mine="1"
                prestige-requirement="1">
        <span class="trait">Soldier</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-brewer" tags="card front character">
  <template>
    <ste-card title="Brewer" card-number="6">
      <ste-dwarf explore="2"
                build="1"
                prestige-requirement="1">
        <span class="trait">Crafter</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-hunter" tags="card front character">
  <template>
    <ste-card title="Hunter" card-number="7">
      <ste-dwarf attack="2"
                explore="1"
                prestige-requirement="1">
        <span class="trait">Soldier</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-manager" tags="card front character">
  <template>
    <ste-card title="Manager" card-number="8">
      <ste-dwarf prestige="2"
                prestige-requirement="1">
        <span class="trait">Noble</span>
        <div class="rules">
          <ste-icon activate></ste-icon>: Ready one <ste-icon character></ste-icon>
        </div>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-geologist" tags="card front character">
  <template>
    <ste-card title="Geologist" card-number="9">
      <ste-dwarf genius="2"
                mine="1"
                prestige-requirement="1">
        <span class="trait">Thinker</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-navigator" tags="card front character">
  <template>
    <ste-card title="Navigator" card-number="10">
      <ste-dwarf explore="2"
                trade="1"
                prestige-requirement="1">
        <span class="trait">Explorer</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-engraver" tags="card front character">
  <template>
    <ste-card title="Engraver" card-number="11">
      <ste-dwarf mine="2"
                genius="1"
                prestige-requirement="1">
        <span class="trait">Miner</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-carpenter" tags="card front character">
  <template>
    <ste-card title="Carpenter" card-number="12">
      <ste-dwarf build="2"
                explore="1"
                prestige-requirement="1">
        <span class="trait">Crafter</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-mason" tags="card front character">
  <template>
    <ste-card title="Mason" card-number="13">
      <ste-dwarf mine="2"
                build="1"
                prestige-requirement="1">
        <span class="trait">Miner</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-captain" tags="card front character">
  <template>
    <ste-card title="Captain of the Guard" card-number="14">
      <ste-dwarf attack="2"
                prestige="1"
                prestige-requirement="1">
        <span class="trait">Soldier</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-artist" tags="card front character">
  <template>
    <ste-card title="Artist" card-number="15">
      <ste-dwarf genius="2"
                prestige="1"
                prestige-requirement="1">
        <span class="trait">Thinker</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-pirate" tags="card front character">
  <template>
    <ste-card title="Pirate" card-number="16">
      <ste-dwarf attack="2"
                trade="1"
                prestige-requirement="1">
        <span class="trait">Soldier</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="char-banker" tags="card front character">
  <template>
    <ste-card title="Banker" card-number="17">
      <ste-dwarf trade="2"
                genius="1"
                prestige-requirement="1">
        <span class="trait">Merchant</span>
      </ste-dwarf>
    </ste-card>
  </template>
</jc-blueprint>
