<link rel="import" href="../../jc-core/jc-blueprint.html">
<link rel="import" href="../ste-threat.html">
<link rel="import" href="../ste-card.html">

<jc-blueprint id="threat-treeent-saplings" tags="card front threat">
  <template>
    <ste-card title="Treeent Saplings"
             card-number="87">
      <ste-threat threat-cost="2"
                 attack="4"
                 genius="3">
        <span class="trait">Attack</span>
        <span class="trait">Dispute</span>
        <div class="effect">
          +1 <ste-icon threat></ste-icon> each time a <ste-icon wood></ste-icon>
          is added to the resource pool.
        </div>
        <div class="success">
          +2 <ste-icon prestige></ste-icon>
        </div>
        <div class="failure">
          Kill <ste-icon character></ste-icon>
        </div>
        <div class="unopposed">
          -2 <ste-icon prestige></ste-icon> Discard all <ste-icon wood></ste-icon> from
          the supply.
        </div>
      </ste-threat>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="threat-mine-collapse" tags="card front threat">
  <template>
    <ste-card title="Mine Collapse"
             card-number="88">
      <ste-threat threat-cost="5"
                 mine="8">
        <span class="trait">Disaster</span>
        <div class="success">
          <ste-icon prestige></ste-icon> +3
        </div>
        <div class="failure">
          Kill <ste-icon character></ste-icon><ste-icon character></ste-icon>
        </div>
        <div class="unopposed">
          Discard all <em>mine</em> cards from the supply.  Return all <em>mine</em>
          special location cards to their respective deck and reshuffle.
        </div>
      </ste-threat>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="threat-lizardmen" tags="card front threat">
  <template>
    <ste-card title="Lizardmen"
             card-number="89">
      <ste-threat threat-cost="3"
                 attack="6">
        <span class="trait">Attack</span>
        <div class="effect">
          Lizardmen have +3 <ste-icon attack></ste-icon> if the <em>Underground River</em>
          <ste-icon location></ste-icon> has been discovered.
        </div>
      </ste-threat>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="threat-goblin-scouts" tags="card front threat">
  <template>
    <ste-card title="Goblin Scouting Party"
             card-number="91">
      <ste-threat threat-cost="2"
                 attack="4">
        <span class="trait">Goblin</span>
        <span class="trait">Attack</span>
        <div class="success">
          <ste-icon prestige></ste-icon> +1
        </div>
        <div class="failure">
          Kill <ste-icon character></ste-icon>
        </div>
        <div class="unopposed">
          <ste-icon threat></ste-icon> +5
        </div>
      </ste-threat>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="threat-goblin-raiders" tags="card front threat">
  <template>
    <ste-card title="Goblin Raiders"
             card-number="92">
      <ste-threat threat-cost="4"
                 attack="6">
        <span class="trait">Goblin</span>
        <span class="trait">Attack</span>
        <div class="effect">
          Goblin Raiders have +1 <ste-icon attack></ste-icon> for each
          <em>Forest Speical Location</em> <ste-icon location></ste-icon>
          discovered.
        </div>
        <div class="success">
          <ste-icon prestige></ste-icon> +3
        </div>
        <div class="failure">
          Kill <ste-icon character></ste-icon><ste-icon character></ste-icon>
        </div>
        <div class="unopposed">
          Kill <ste-icon character></ste-icon><ste-icon character></ste-icon><ste-icon character></ste-icon><ste-icon character></ste-icon>
        </div>
      </ste-threat>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="threat-renegotiate-trade" tags="card front threat">
  <template>
    <ste-card title="Renegotiate Trade Agreement"
             card-number="90">
      <ste-threat threat-cost="3"
                 trade="4">
        <span class="trait">Dispute</span>
        <div class="success">
          Draw two new <ste-icon caravan></ste-icon> Caravan cards and choose one
          to replace the current Caravan card.
        </div>
        <div class="failure">
          Discard the <ste-icon caravan></ste-icon> Caravan card in play.  There
          will be no Caravan this year.
        </div>
      </ste-threat>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="threat-magma-demon" tags="card front threat">
  <template>
    <ste-card title="Magma Demon"
             card-number="99">
      <ste-threat threat-cost="7"
                 attack="10">
        <span class="trait">Attack</span>
        <div class="effect">
          Magma Demon has +4 <ste-icon attack></ste-icon> if the <em>Magma River</em>
          Special Location <ste-icon location></ste-icon> has been discovered.
        </div>
        <div class="success">
          +6 <ste-icon prestige></ste-icon>
        </div>
        <div class="failure">
          All hope is lost.
          Game Over
        </div>
      </ste-threat>
    </ste-card>
  </template>
</jc-blueprint>

<jc-blueprint id="threat-temple-of-the-gods" tags="card front threat">
  <template>
    <ste-card title="Temple to the Gods"
             card-number="100">
      <ste-threat threat-cost="4"
                 build="7">
        <span class="trait">Crisis</span>
        <div class="success">
          +6 <ste-icon prestige></ste-icon>
        </div>
        <div class="failure">
          Kill <ste-icon character></ste-icon> -5 <ste-icon prestige></ste-icon>
        </div>
        <div class="unopposed">
          You have enraged the Gods.
          Game Over
        </div>
      </ste-threat>
    </ste-card>
  </template>
</jc-blueprint>
