<!DOCTYPE html>
<html>
  <head>
    <title>jc-planet demo</title>
    <script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    </script>
    <link rel="import" href="../jc-planet.html">
    <link rel="import" href="../../jc-resource-icon/jc-resource-icon.html">
  </head>
  <body>
    <jc-planet></jc-planet>

    <jc-planet title="Planet" cost="6">
        Spend 2<jc-resource-icon resource="food"></jc-resource-icon> to recieve 4<jc-resource-icon resource="energy"></jc-resource-icon>
    </jc-planet>

    <jc-planet title="Alpha 2" cost="4">
        Reveal 2 cards from your hand and spend 3 <jc-resource-icon resource="crew"></jc-resource-icon>.  Collect <jc-resource-icon resource="ore"></jc-resource-icon> equal to the combined cost of both revealed cards.
    </jc-planet>
  </body>
</html>
