<link rel="import" href="../jc-core/jc-polymer.html">
<link rel="import" href="ste-icon.html">
<link rel="import" href="ste-ribbon.html">

<dom-module id="ste-dwarf">
  <template>
    <style>
      :host {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(135deg, rgba(105,117,130,1) 0%,rgba(57,52,71,1) 100%);
        z-index: 0;
      }
      .portrait {
        position: absolute;
        box-sizing: border-box;
        top: 0.15in;
        left: 0.15in;
        right: 0.15in;
        height: 1.375in;
        background-color: darkgray;
      }
      .text {
        position: absolute;
        left: 0.15in;
        right: 0.15in;
        bottom: 0.15in;
        height: 1.375in;
        background-color: lightgray;
        font-size: 0.125in;
        padding: 0.05in;
        box-sizing: border-box;
      }
      .traits {
        min-height: 0.2in;
        font-weight: 700;
        text-align: center;
        font-variant: small-caps;
      }
      .traits ::content > span + span::before {
        content: " - ";
      }
      .flavor {
        position: absolute;
        bottom: 0;
        font-family: "Roboto Slab";
     	  font-weight: 400;
        font-style: italic;
      }
      .prestige-req {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0.45in;
        height: 0.24in;
        transform: translate(-50%, -50%);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
        border-radius: 0.08in;
        border-style: solid;
        border-width: 0.015in;
        border-color: black;
        z-index: 1;
        font-size: 0.15in;
        line-height: 0.15in;
      }
      .prestige-req > * {
        margin: 0 0.03in;
      }

      ste-ribbon {
        z-index: 1;
        margin-top: 0.015in;
      }

      ste-ribbon:first-of-type {
        margin-top: 0.2in;
      }
    </style>

    <template is="dom-if" if="[[attack]]">
      <ste-ribbon red>
        <ste-icon attack></ste-icon><span>[[attack]]</span>
      </ste-ribbon>
    </template>

    <template is="dom-if" if="[[explore]]">
      <ste-ribbon green>
        <ste-icon explore></ste-icon><span>[[explore]]</span>
      </ste-ribbon>
    </template>

    <template is="dom-if" if="[[build]]">
      <ste-ribbon blue>
        <ste-icon build></ste-icon><span>[[build]]</span>
      </ste-ribbon>
    </template>

    <template is="dom-if" if="[[genius]]">
      <ste-ribbon white>
        <ste-icon genius></ste-icon><span>[[genius]]</span>
      </ste-ribbon>
    </template>

    <template is="dom-if" if="[[mine]]">
      <ste-ribbon gray>
        <ste-icon mine></ste-icon><span>[[mine]]</span>
      </ste-ribbon>
    </template>

    <template is="dom-if" if="[[trade]]">
      <ste-ribbon yellow>
        <ste-icon caravan></ste-icon><span>[[trade]]</span>
      </ste-ribbon>
    </template>

    <template is="dom-if" if="[[prestige]]">
      <ste-ribbon purple>
        <ste-icon prestige></ste-icon><span>[[prestige]]</span>
      </ste-ribbon>
    </template>

    <div class="prestige-req">
      <ste-icon prestige></ste-icon><span>[[prestigeRequirement]]</span>
    </div>

    <div class="portrait"><content select=".portrait"></content></div>

    <div class="text">
      <div class="traits">
        <content select=".trait"></content>
      </div>
      <content select=".rules"></content>
      <div class="flavor">
        <content select=".flavor"></content>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'ste-dwarf',
      properties: {
        attack: Number,
        mine: Number,
        trade: Number,
        explore: Number,
        prestige: Number,
        build: Number,
        genius: Number,
        prestigeRequirement: {
          type: Number,
          value: 0,
        },
      },
    });
  </script>
</dom-module>
