<!DOCTYPE html>
<html>
  <head>
    <title>Caravan Cards</title>
    <script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    </script>
    <link rel="import" href="../jc-icon.html">
    <link rel="import" href="../jc-caravan.html">
    <link rel="import" href="../jc-card.html">
    <style>

    @media print {
      @page {
        margin-top: 0.25in;
        margin-bottom: 0in;
        margin-left: 0.5in;
        margin-right: 0.5in;
      }
      html,body {
        width: 7.5in;
        font-size: 0;
        -webkit-print-color-adjust: exact;
      }
    }
    </style>
  </head>
  <body>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Sculpture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Furniture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Weapon
        </div>
      </jc-caravan>
    </jc-card>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Sculpture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Jewelry
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Armor
        </div>
      </jc-caravan>
    </jc-card>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Sulpture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Tool
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Weapon
        </div>
      </jc-caravan>
    </jc-card>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Furniture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Sculpture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Armor
        </div>
      </jc-caravan>
    </jc-card>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Furniture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Jewelry
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Tool
        </div>
      </jc-caravan>
    </jc-card>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Furniture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Weapon
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Armor
        </div>
      </jc-caravan>
    </jc-card>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Jewelry
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Sculpture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Tool
        </div>
      </jc-caravan>
    </jc-card>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Jewelry
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Furniture
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Weapon
        </div>
      </jc-caravan>
    </jc-card>

    <jc-card landscape>
      <jc-caravan>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Jewelry
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          <jc-icon prestige></jc-icon>
          Armor
        </div>
        <div>
          <jc-icon prestige></jc-icon>
          Tool
        </div>
      </jc-caravan>
    </jc-card>
  </body>
</html>
