<!DOCTYPE html>
<html>
  <head>
    <title>Character Cards</title>
    <script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    </script>
    <link rel="import" href="../jc-dwarf.html">
    <link rel="import" href="../jc-card.html">
    <style>

    @media print {
      @page {
        margin-top: 0.25in;
        margin-bottom: 0in;
        margin-left: 0.5in;
        margin-right: 0.5in;
      }
      html,body {
        width: 7.5in;
        font-size: 0;
        -webkit-print-color-adjust: exact;
      }
    }
    </style>
  </head>
  <body>
    <jc-card title="Miner" card-number="1">
      <jc-dwarf mine="2"
                attack="1"
                prestige-requirement="1">
        <span class="trait">Miner</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Explorer" card-number="2">
      <jc-dwarf explore="2"
                attack="1"
                prestige-requirement="1">
        <span class="trait">Explorer</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Crafter" card-number="3">
      <jc-dwarf build="2"
                genius="1"
                prestige-requirement="1">
        <span class="trait">Crafter</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Merchant" card-number="4">
      <jc-dwarf trade="2"
                prestige="1"
                prestige-requirement="1">
        <span class="trait">Merchant</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Hammerdwarf" card-number="5">
      <jc-dwarf attack="2"
                mine="1"
                prestige-requirement="1">
        <span class="trait">Soldier</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Brewer" card-number="6">
      <jc-dwarf explore="2"
                build="1"
                prestige-requirement="1">
        <span class="trait">Crafter</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Hunter" card-number="7">
      <jc-dwarf attack="2"
                explore="1"
                prestige-requirement="1">
        <span class="trait">Soldier</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Manager" card-number="8">
      <jc-dwarf prestige="2"
                prestige-requirement="1">
        <span class="trait">Noble</span>
        <div class="rules">
          <jc-icon activate></jc-icon>: Ready one <jc-icon character></jc-icon>
        </div>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Geologist" card-number="9">
      <jc-dwarf genius="2"
                mine="1"
                prestige-requirement="1">
        <span class="trait">Thinker</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Navigator" card-number="10">
      <jc-dwarf explore="2"
                trade="1"
                prestige-requirement="1">
        <span class="trait">Explorer</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Engraver" card-number="11">
      <jc-dwarf mine="2"
                genius="1"
                prestige-requirement="1">
        <span class="trait">Miner</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Carpenter" card-number="12">
      <jc-dwarf build="2"
                explore="1"
                prestige-requirement="1">
        <span class="trait">Crafter</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Mason" card-number="13">
      <jc-dwarf mine="2"
                build="1"
                prestige-requirement="1">
        <span class="trait">Miner</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Captain of the Guard" card-number="14">
      <jc-dwarf attack="2"
                prestige="1"
                prestige-requirement="1">
        <span class="trait">Soldier</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Artist" card-number="15">
      <jc-dwarf genius="2"
                prestige="1"
                prestige-requirement="1">
        <span class="trait">Thinker</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Pirate" card-number="16">
      <jc-dwarf attack="2"
                trade="1"
                prestige-requirement="1">
        <span class="trait">Soldier</span>
      </jc-dwarf>
    </jc-card>

    <jc-card title="Banker" card-number="17">
      <jc-dwarf trade="2"
                genius="1"
                prestige-requirement="1">
        <span class="trait">Merchant</span>
      </jc-dwarf>
    </jc-card>
  </body>
</html>
