<!DOCTYPE html>
<html>
  <head>
    <title>jc-dwarf demo</title>
    <script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    </script>
    <link rel="import" href="../jc-item.html">
    <link rel="import" href="../jc-ribbon.html">
    <link rel="import" href="../jc-card.html">
    <style>

    @media print {
      @page {
        margin-top: 0.25in;
        margin-bottom: 0in;
        margin-left: 0.5in;
        margin-right: 0.5in;
      }
      html,body {
        width: 7.5in;
        font-size: 0;
      }
    }
    </style>
  </head>
  <body>
    <jc-card title="Crown of Command"
             card-number="48"
             landscape>
      <jc-item>
        <jc-req build>3</jc-req>
        <jc-req genius>2</jc-req>
        <jc-ribbon red>
          <jc-icon attack></jc-icon>+1
        </jc-ribbon>
        <jc-ribbon yellow>
          <jc-icon caravan></jc-icon>+1
        </jc-ribbon>
        <jc-ribbon white>
          <jc-icon genius></jc-icon>+1
        </jc-ribbon>
        <jc-ribbon purple>
          <jc-icon prestige></jc-icon>+1
        </jc-ribbon>
        <div class="cost">
          <jc-icon metal-gold></jc-icon>
          <jc-icon gem-emerald></jc-icon>
          <jc-icon gem-ruby></jc-icon>
          <jc-icon gem-diamond></jc-icon>
        </div>
      </jc-item>
    </jc-card>

    <jc-card title="Saw Mill"
             card-number="49"
             landscape>
      <jc-item>
        <jc-req build>2</jc-req>
        <div class="cost">
          <jc-icon wood></jc-icon>
          <jc-icon stone></jc-icon>
          <jc-icon metal></jc-icon>
        </div>
      </jc-item>
    </jc-card>

    <jc-card title="Stone Tools"
             card-number="73"
             landscape>
      <jc-item>
        <jc-req build>1</jc-req>
        <jc-ribbon blue>
          <jc-icon build></jc-icon> +1
        </jc-ribbon>
        <div class="cost">
          <jc-icon stone></jc-icon>
        </div>
      </jc-item>
    </jc-card>


    <jc-card title="Master Workbench"
             card-number="74"
             landscape>
      <jc-item>
        <jc-req build>2</jc-req>
        <jc-ribbon blue>
          <jc-icon build></jc-icon> +2
        </jc-ribbon>
        <jc-ribbon white>
          <jc-icon genius></jc-icon> +2
        </jc-ribbon>
        <div class="cost">
          <jc-icon wood-dark></jc-icon>
          <jc-icon metal></jc-icon>
        </div>
      </jc-item>
    </jc-card>


    <jc-card title="Stone Pick Axe"
             card-number="50"
             landscape>
      <jc-item>
        <jc-req build>1</jc-req>
        <jc-ribbon gray>
          <jc-icon mine></jc-icon> +1
        </jc-ribbon>
        <div class="cost">
          <jc-icon wood></jc-icon>
          <jc-icon stone></jc-icon>
        </div>
      </jc-item>
    </jc-card>

    <jc-card title="Silver Throne"
             card-number="51"
             landscape>
      <jc-item>
        <div class="cost">
          <jc-icon metal-silver></jc-icon>
          <jc-icon stone></jc-icon>
          <jc-icon stone></jc-icon>
        </div>
      </jc-item>
    </jc-card>

    <jc-card title="Orb of Vision"
             card-number="52"
             landscape>
      <jc-item>
        <jc-ribbon green>
          <jc-icon explore></jc-icon><jc-icon look></jc-icon>
        </jc-ribbon>
        <div class="cost">
          <jc-icon gem></jc-icon>
          <jc-icon stone></jc-icon>
        </div>
      </jc-item>
    </jc-card>

    <jc-card title="Trebuchet"
             card-number="53"
             landscape>
      <jc-item>
        <div class="rules">
          <jc-icon activate></jc-icon>: Discard <jc-icon stone></jc-icon> to add
          <span style="white-space: nowrap;"><jc-icon attack></jc-icon>+2</span> to one combat.
        </div>
        <div class="cost">
          <jc-icon wood></jc-icon>
          <jc-icon metal></jc-icon>
        </div>
      </jc-item>
    </jc-card>

    <jc-card title="Crossbow"
             card-number="54"
             landscape>
      <jc-item>
        <jc-ribbon red>
          <jc-icon attack></jc-icon>+1
        </jc-ribbon>
        <div class="cost">
          <jc-icon metal></jc-icon>
          <jc-icon metal></jc-icon>
        </div>
    </jc-card>

    <jc-card title="Mace of Power"
             card-number="55"
             landscape>
      <jc-item>
        <jc-ribbon red>
          <jc-icon attack></jc-icon>+2
        </jc-ribbon>
        <jc-ribbon purple>
          <jc-icon prestige></jc-icon>+2
        </jc-ribbon>
        <div class="cost">
          <jc-icon metal></jc-icon>
          <jc-icon gem-ruby></jc-icon>
        </div>
        <div class="flavor">
          This is a pretty sweet mace.  Yes, it really is a good deal, don't sell
          it to the <jc-icon caravan></jc-icon>
        </div>
      </jc-item>
    </jc-card>
  </body>
</html>
