<!DOCTYPE html>
<html>
  <head>
    <title>jc-resource-icon demo</title>
    <script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    </script>
    <link rel="import" href="../jc-resource-icon.html">
    <style>
      body {
        width: 100vw;
        height: 100vh;
        background-color: black;
      }
    </style>
  </head>
  <body>
    <jc-resource-icon></jc-resource-icon>
    <jc-resource-icon resource="bogus"></jc-resource-icon>

    <jc-resource-icon resource="food"></jc-resource-icon>
    <jc-resource-icon resource="ore"></jc-resource-icon>
    <jc-resource-icon resource="water"></jc-resource-icon>
    <jc-resource-icon resource="energy"></jc-resource-icon>
    <jc-resource-icon resource="crew"></jc-resource-icon>
    <jc-resource-icon resource="money"></jc-resource-icon>
  </body>
</html>
