<link rel="import" href="jc-polymer.html">
<link rel="import" href="jc-interact.html">
<link rel="import" href="jc-stamp.html">

<dom-module id="jc-pawn">
  <template>
    <style>
      :host {
        position: absolute;
      }
      .drag-box {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>

      <content></content>
      <template is="dom-if" if="[[faceUp]]" restamp>
        <jc-stamp blueprint="[[blueprint]]"></jc-stamp>
      </template>
      <template is="dom-if" if="[[!faceUp]]" restamp>
        <jc-stamp blueprint="[[backBlueprint]]"></jc-stamp>
      </template>
      <div class="drag-box"></div>
  </template>
  <script src="jc-pawn.js"></script>
</dom-module>
