<link rel="import" href="jc-polymer.html">
<link rel="import" href="jc-interact.html">
<link rel="import" href="jc-pawn.html">

<dom-module id="jc-supply">
  <template>
    <style>
      #base {
        display: inline-block;
        position: relative;
      }

      #count-container {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
      }

      #count {
        display: flex;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        background-color: #000;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 75px;
        opacity: 0.5;
      }

      :host([count=NaN]) #count {
        display: none;
      }
      :host([count="0"]) #count-container {
        background-color: rgba(0, 0, 0, 0.5);
      }
    </style>
    <div id="base">
      <content></content>
      <div id="count-container">
        <div id="count">[[count]]</div>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'jc-supply',
      properties: {
        pawnBlueprint: {
          type: String,
        },
        pawnBackBlueprint: {
          type: String,
        },
        count: {
          type: Number,
          reflectToAttribute: true,
          value: NaN,
        },
      },
      observers: [
        '_updateOffset(xOffset, yOffset)',
      ],
      attached: function () {
        interact(this.$.base)
          .draggable({
            // enable inertial throwing
            inertia: false,
            // keep the element within the area of it's parent
            restrict: {
              restriction: this.parentNode,
              endOnly: true,
              elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
            },
            // enable autoScroll
            autoScroll: false,

            // call this function on every dragmove event
            onmove: function (event) {
              if (this.pawn) {
                this.pawn.x += event.dx;
                this.pawn.y += event.dy;
              }
            }.bind(this),
            // call this function on every dragend event
            onend: function (event) {
              if (this.pawn) {
                this.pawn.classList.remove('moving');
                delete this.pawn;
              }
            }.bind(this),
            oncancel: function (event) {
              if (this.pawn) {
                this.pawn.classList.remove('moving');
                delete this.pawn;
              }
            }.bind(this),
            onstart: function (event) {
              if (!isNaN(this.count)) {
                if (this.count <= 0) {
                  return;
                }
                this.count --;
              }

              var bounds = event.target.getBoundingClientRect();
              this.createPawn(bounds.left, bounds.top);
              this.pawn.classList.add('moving');
            }.bind(this),
          });
      },
      _updateOffset: function (xOffset, yOffset) {
        this.$.draggable.style.transform = 'translate(' + xOffset + 'px, ' + yOffset +'px)';
      },
      createPawn: function (x, y) {
        var pawn = document.createElement('jc-pawn');
        pawn.blueprint = this.pawnBlueprint;
        pawn.backBlueprint = this.pawnBackBlueprint;
        pawn.style.top = "0";
        pawn.style.left = "0";
        pawn.x = x;
        pawn.y = y;
        this.parentNode.appendChild(pawn);
        this.pawn = pawn;
      },
    });
  </script>
</dom-module>
